@keyframes simba {
    from{
     box-shadow: 1px 1px 38px purple;
    }
    to{
        box-shadow: 1px 1px 38px pink;   
    }
}

canvas{
     animation-name:simba ;
     animation-duration: 1s;
     animation-iteration-count: infinite;
}